body {
  font-family: sans-serif;
  color: #00b3b4;
}

.container {
  max-width: 8.5in;
}

.result{
  display: none;
}

form {
  display: none;
}

#question1 {
  display: block;
}

img {
  margin: 15px;
}
